 * {
     box-sizing: border-box;
 }

 body {
   font-family: 'Open Sans';
     margin: 0px;
     font-weight: 300;
 }

 ::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-track {
    background-color:#E4E7ED;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }